server:
  port: 8081

spring:
  application:
    name: learnia-auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/learnia_auth_db
    username: ${DB_USERNAME:learnia_user}
    password: ${DB_PASSWORD:learnia_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: ${JWT_SECRET:your-secret-key-change-in-production}
  expiration: 86400000
