server:
  port: 8083

spring:
  application:
    name: learnia-course-service
  datasource:
    url: jdbc:postgresql://localhost:5432/learnia_course_db
    username: ${DB_USERNAME:learnia_user}
    password: ${DB_PASSWORD:learnia_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
