server:
  port: 8888

spring:
  application:
    name: learnia-config-server
  cloud:
    config:
      server:
        git:
          uri: file://${user.home}/learnia-config-repo
          default-label: main
          clone-on-start: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
